@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("../../assets/fonts/Montserrat-Bold.ttf");
}
.main-wrapper {
    max-width: 420px;
    /* background-color: #6da3c3; */
    background-color: #eee;
    height: 100vh;
    margin: auto;
    font-family: 'Montserrat';
}


.bg-1 {
    color: #fff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b7ea+0,0045bc+100 */
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #0045bc 0%, #00b7ea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #0045bc 0%, #00b7ea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #0045bc 0%, #00b7ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0045bc', endColorstr='#00b7ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-2 {
    background-color: #00b7ea;
}

.highlight {
    background-color: #fff;
    color: #0045bc;
    padding: 2px;
    letter-spacing: 2px;
    font-size: 1.1em;
}

.main-wrapper h1 {
    font-family: 'Montserrat Bold';
    font-size: 1.5em;
}

.kilas-balik-item {
    padding: 15px;
    height: 100vh;
    font-size: 2em;
}

.kilas-balik-item img {
    max-width: 300px !important;
}

.rfp-logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100px !important;
}

.mascot-run {
    height: 250px;
    width: auto !important;
    margin: auto;
    margin-top: 50px;
}

.main-text {
    font-size: .8em;
}

.mirror {
    transform: scaleX(-1);
}

.bold {
    font-family: 'Montserrat Bold' !important;
}

.owl-profile {
    position: absolute;
    top: 10px;
    left: 92%;
    z-index: 2;
}

.owl-dots {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.owl-dot.active span{
    background-color: #00528d !important;
}

.owl-dot span{
    background-color: #fff !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 25px;
}

.close-btn {
    color: #fff !important;
}


@media (max-width: 500px) {
    .main-wrapper h1 {
        font-family: 'Montserrat Bold';
        font-size: 1.2em;
    }
    .main-text {
        font-size: .6em;
    }
}