#pc-ver {
    display: none;
}

/* #informasi{
    display: none;
} */

/* #beramal {
    display: none;
} */

#timeline {
    display: none;
}

#ketentuan {
    display: none;
}

#FAQ {
    display: none;
}


@media (min-width: 480px) {
    #pc-ver {
        display: block;
    }
    #mobile-ver {
        display: none;
    }
}